@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:floralwhite;
}

.search-container {
    margin: 1em auto;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.9);;
    display: flex;
    justify-content: center;
    
}

.search-container input {
    background-color: white;
    width: 100%;
    height: 30px;
    border-radius: 35px;
    border-bottom: 2px solid #242727;
    padding: 1em 0.4em;
}

.search-container button {
    padding: 0.1em 0.2em;
    margin: 0.5em 0.2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-container button i:hover {
    width: 30%;
}

#container {
    font-family: "Poppins";
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin: 2em;
}

.card {
    overflow:hidden;
    background-color:white;
    height: 82%;
    width: 26%;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 1.2em;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.card:hover {
    box-shadow: 0 3px 6px rgba(255, 243, 247, 0.10);
    transform: translate(0px,-10px);
}

.card-img {
    margin: auto;
    width: 70%;
    height: 42%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.reviews-price {
    display: flex;
    
    align-items: center;
    margin: .6em;
} 

.reviews-price .price {
    margin: auto;
    padding-left: 55%;
}

.reviews-price i {
    color: yellow;
    cursor: pointer; 
    margin: .1em;
}

.reviews-price .review, .description p {
    font-size: .85em;
    color:rgb(36, 36, 36);
}

h4, .reviews-price .price{
    font-size: 1.2em;
}

h4 {
    overflow: hidden;
    width: 100%;
    height: 65px;
}

.description {
    width: 100%;
    height: 105px;
    overflow:hidden;
    padding: 0.3em;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 1.5em;
}

.heart-button, .cart-button i{
    width: 33px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    border-radius: 2em;
    background: #06c995;
}

.cart-button {
    margin: 0 .2em;
    font-size: 15px;
    height: 42px; 
    display: flex;
    align-items: center;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
    background: #06d6a0;
}

.cart-button i, .cart-button p, .heart-button {
    padding: .35em .2em;
}

@media screen and (min-width:500px){
    .card {
        width: 340px;
        height: 500px;
        margin: 20px 10px;
    }
    
}